@page "/upload"

<h3>Upload Files</h3>

<p>
    <label>
        Upload
        <InputFile OnChange="@OnInputFileChange" MaxBufferSize="@(10*1024)" multiple/>
    </label>
</p>

<hr />

@if (_filesToAdd.Count > 0)
{
    <div class="card mt-4">
        <div class="card-body">
            <h5>Files to upload:</h5>
            <ul>
                @foreach (var file in _filesToAdd)
                {
                    <li>
                        File: @file.FileName <button class="btn btn-danger" @onclick="(()=> RemoveFile(file))">Remove</button>
                        <br>
                    </li>
                }
            </ul>
        </div>
    </div>

    <button class="btn btn-primary mt-4" @onclick="UploadFiles" disabled="@(_loading || _filesToAdd.Count == 0)">Send to server</button>

    <hr />
}

@if (_uploadedFiles.Count > 0)
{
    <div class="card mt-4">
        <div class="card-body">
            <h5>Uploaded files:</h5>
            <ul>
                @foreach (var file in _uploadedFiles)
                {
                    <li>
                        File: @file.FileName
                        <br>
                        Url: @file.FileUrl
                    </li>
                }
            </ul>
        </div>
    </div>
}